<p id="notice"><%= notice %></p>

<h1>Listing Tiene Tuit Pal Claves</h1>

<table>
  <thead>
    <tr>
      <th>Tiene tuit pal clave</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiene_tuit_pal_claves.each do |tiene_tuit_pal_clafe| %>
      <tr>
        <td><%= tiene_tuit_pal_clafe.tiene_tuit_pal_clave_id %></td>
        <td><%= link_to 'Show', tiene_tuit_pal_clafe %></td>
        <td><%= link_to 'Edit', edit_tiene_tuit_pal_clafe_path(tiene_tuit_pal_clafe) %></td>
        <td><%= link_to 'Destroy', tiene_tuit_pal_clafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiene tuit pal clave', new_tiene_tuit_pal_clafe_path %>
