<%= form_for(@palabra_clafe) do |f| %>
  <% if @palabra_clafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@palabra_clafe.errors.count, "error") %> prohibited this palabra_clafe from being saved:</h2>

      <ul>
      <% @palabra_clafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pal_clave_id %><br>
    <%= f.number_field :pal_clave_id %>
  </div>
  <div class="field">
    <%= f.label :palabra %><br>
    <%= f.text_field :palabra %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
