<p id="notice"><%= notice %></p>

<p>
  <strong>Palabra clave:</strong>
  <%= @palabra_clafe.palabra_clave_id %>
</p>

<p>
  <strong>Palabra:</strong>
  <%= @palabra_clafe.palabra %>
</p>

<%= link_to 'Edit', edit_palabra_clafe_path(@palabra_clafe) %> |
<%= link_to 'Back', palabra_claves_path %>
