<p id="notice"><%= notice %></p>

<h1>Listing Consolas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre consola</th>
      <th>Descripcion consola</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consolas.each do |consola| %>
      <tr>
        <td><%= consola.nombre_consola %></td>
        <td><%= consola.descripcion_consola %></td>
        <td><%= link_to 'Show', consola %></td>
        <td><%= link_to 'Edit', edit_consola_path(consola) %></td>
        <td><%= link_to 'Destroy', consola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consola', new_consola_path %>
