<p id="notice"><%= notice %></p>

<p>
  <strong>Consola:</strong>
  <%= @consola.consola_id %>
</p>

<p>
  <strong>Nombre consola:</strong>
  <%= @consola.nombre_consola %>
</p>

<p>
  <strong>Descripcion consola:</strong>
  <%= @consola.descripcion_consola %>
</p>

<%= link_to 'Edit', edit_consola_path(@consola) %> |
<%= link_to 'Back', consolas_path %>
