<p id="notice"><%= notice %></p>

<h1>Listing Frase Calificadoras</h1>

<table>
  <thead>
    <tr>
      <th>Frase calificadora</th>
      <th>Frase</th>
      <th>Estado animo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frase_calificadoras.each do |frase_calificadora| %>
      <tr>
        <td><%= frase_calificadora.frase_calificadora_id %></td>
        <td><%= frase_calificadora.frase %></td>
        <td><%= frase_calificadora.estado_animo %></td>
        <td><%= link_to 'Show', frase_calificadora %></td>
        <td><%= link_to 'Edit', edit_frase_calificadora_path(frase_calificadora) %></td>
        <td><%= link_to 'Destroy', frase_calificadora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frase calificadora', new_frase_calificadora_path %>
