<%= form_for(@tiene_tuit_pal_cal) do |f| %>
  <% if @tiene_tuit_pal_cal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tiene_tuit_pal_cal.errors.count, "error") %> prohibited this tiene_tuit_pal_cal from being saved:</h2>

      <ul>
      <% @tiene_tuit_pal_cal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tiene_tuit_pal_cal_id %><br>
    <%= f.number_field :tiene_tuit_pal_cal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
